body {
	margin: 0;
	font-family: helvetica;
}

main h1 {
    padding-top: 10px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;

  padding: 1rem;
  background-color: black;
  color: white;
  font-size: 18px;
  text-align: left;
}

main {
	padding: 1rem;
}
